:root {
            --primary-color: #000000;
            --secondary-color: #757575;
            --black: #000000;
            --white: #ffffff;
            --gray: #f4f4f4;
            --gray-2: #757575;

            --facebook-color: #4267B2;
            --google-color: #DB4437;
            --twitter-color: #1DA1F2;
            --insta-color: #E1306C;
        }